In [44]:
#%pip install fairseq npy_append_array h5py

In [42]:
import logging
import math
import os
import subprocess
import sys

import fairseq
import h5py
import numpy as np
import soundfile as sf
import torch
import torch.nn.functional as F
import tqdm
from npy_append_array import NpyAppendArray
from torch.hub import download_url_to_file

# Derive Bark semantic token codebook

This notebook embeds a synthetic dataset of wav files <-> semantic token mappings and rederives the "means" for each token, allowing for later routine k-means inference of "ground truth" audio into semantic prompts. This allows for voice cloning and so giving voice to the dead, destroying consensus reality and creating misinformation, destroying copyright, spreading systemic bias, and other similarly enjoyable ways to spend a Saturday afternoon.

## Dump HuBERT features

In this step, we use Fairseq's [Sharded HuBERT feature extraction](https://github.com/facebookresearch/fairseq/tree/main/examples/hubert/simple_kmeans) to obtain embeddings of the audio corresponding to each semantic token step (HuBERT features are 50hz by default, coincidence???).

In [ ]:
if not os.path.exists("../models/hubert_base_ls960.pt"):
    # Yes, hard-coding the URL of the model is jank. Too bad!
    # Update this if this changes! https://github.com/facebookresearch/textlesslib/blob/698e6a039375bac0cd5f1b8683beeec5e8f702c0/textless/checkpoint_manager/__init__.py#L20
    download_url_to_file("https://dl.fbaipublicfiles.com/hubert/hubert_base_ls960.pt", "../models/hubert_base_ls960.pt")

In [12]:
# Get the git repo root directory
git_root = subprocess.check_output(["git", "rev-parse", "--show-toplevel"]).strip().decode("utf-8")

# Append the desired subdirectory
feature_utils_path = os.path.join(git_root, "venv", "lib", "python3.10", "site-packages", "fairseq", "examples", "hubert", "simple_kmeans")

# Add the path to sys.path
sys.path.append(feature_utils_path)

In [102]:
dataset_dir = os.path.join("..", "datasets", "en_old")
feature_dir = os.path.join("..", "datasets", "en_features")

In [103]:
from fairseq.examples.hubert.simple_kmeans import feature_utils
from fairseq.examples.hubert.simple_kmeans import dump_hubert_feature

NSHARDS=8
for i in range(0, NSHARDS):
    dump_hubert_feature.main(
        tsv_dir=dataset_dir,
        split="manifest",
        ckpt_path=os.path.join("..", "models", "hubert_base_ls960.pt"),
        layer=6,
        # Dataset isn't _that_ big for now; process all at once (shards: number of fractions, rank: selected fraction)
        nshard=NSHARDS,
        rank=i,
        feat_dir=feature_dir,
        max_chunk=1_600_000
    )

2023-04-27 01:56:51 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:56:51 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:56:51 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:56:52 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:56:52 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:56:52 | INFO | feature_utils | rank 0 of 8, process 571 (0-571) out of 4565
100%|██████████| 571/571 [00:05<00:00, 113.71it/s]
2023-04-27 01:56:57 | INFO | feature_utils | finished successfully
2023-04-27 01:56:59 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:56:59 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:56:59 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:57:00 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:00 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:57:00 | INFO | feature_utils | rank 1 of 8, process 570 (571-1141) out of 4565
100%|██████████| 570/570 [00:03<00:00, 184.50it/s]
2023-04-27 01:57:03 | INFO | feature_utils | finished successfully
2023-04-27 01:57:05 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:57:05 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:05 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:57:06 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:06 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:57:06 | INFO | feature_utils | rank 2 of 8, process 571 (1141-1712) out of 4565
100%|██████████| 571/571 [00:02<00:00, 200.27it/s]
2023-04-27 01:57:08 | INFO | feature_utils | finished successfully
2023-04-27 01:57:10 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:57:10 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:10 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:57:11 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:11 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:57:11 | INFO | feature_utils | rank 3 of 8, process 570 (1712-2282) out of 4565
100%|██████████| 570/570 [00:02<00:00, 216.13it/s]
2023-04-27 01:57:14 | INFO | feature_utils | finished successfully
2023-04-27 01:57:15 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:57:15 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:15 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:57:16 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:16 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:57:16 | INFO | feature_utils | rank 4 of 8, process 571 (2282-2853) out of 4565
100%|██████████| 571/571 [00:02<00:00, 225.44it/s]
2023-04-27 01:57:19 | INFO | feature_utils | finished successfully
2023-04-27 01:57:20 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:57:20 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:20 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:57:21 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:21 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:57:21 | INFO | feature_utils | rank 5 of 8, process 571 (2853-3424) out of 4565
100%|██████████| 571/571 [00:02<00:00, 226.40it/s]
2023-04-27 01:57:24 | INFO | feature_utils | finished successfully
2023-04-27 01:57:25 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:57:25 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:25 | INFO | fairseq.models.hubert.hubert | HubertModel Config: {'_name': 'hubert', 'label_rate': 50.0, 'extractor_mode': default, 'encoder_layers': 12, 'encoder_embed_dim': 768, 'encoder_ffn_embed_dim': 3072, 'encoder_attention_heads': 12, 'activation_fn': gelu, 'layer_type': transformer, 'dropout': 0.1, 'attention_dropout': 0.1, 'activation_dropout': 0.0, 'encoder_layerdrop': 0.05, 'dropout_input': 0.1, 'dropout_features': 0.1, 'final_dim': 256, 'untie_final_proj': False, 'layer_norm_first': False, 'conv_feature_layers': '[(512,10,5)] + [(512,3,2)] * 4 + [(512,2,2)] * 2', 'conv_bias': False, 'logit_temp': 0.1, 'target_glu': False, 'feature_grad_mult': 0.1, 'mask_length': 10, 'mask_prob': 0.8, 'mask_selection': static, 'mask_other': 0.0, 'no_mask_overlap': False, 'mask_min_space': 1, 'mask_channel_length': 10, 'mask_channel_prob': 0.0, 'mask_channel_selection': static, 'mask_channel_other': 0.0, 'no_mask_channel_overlap': False, 'mask_channel_min_space': 1, 'conv_pos': 128, 'conv_pos_groups': 16, 'latent_temp': [2.0, 0.5, 0.999995], 'skip_masked': False, 'skip_nomask': False, 'checkpoint_activations': False, 'required_seq_len_multiple': 2, 'depthwise_conv_kernel_size': 31, 'attn_type': '', 'pos_enc_type': 'abs', 'fp16': True}
2023-04-27 01:57:26 | INFO | dump_hubert_feature | TASK CONFIG:
{'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}
2023-04-27 01:57:26 | INFO | dump_hubert_feature |  max_chunk = 1600000
2023-04-27 01:57:26 | INFO | feature_utils | rank 6 of 8, process 570 (3424-3994) out of 4565
100%|██████████| 570/570 [00:02<00:00, 234.74it/s]
2023-04-27 01:57:29 | INFO | feature_utils | finished successfully
2023-04-27 01:57:30 | INFO | fairseq.tasks.hubert_pretraining | current directory is /home/ritsuko/projects/ai/audio/bark/notebooks
2023-04-27 01:57:30 | INFO | fairseq.tasks.hubert_pretraining | HubertPretrainingTask Config {'_name': 'hubert_pretraining', 'data': '/checkpoint/wnhsu/data/librispeech/960h/iter/250K_50hz_km100_mp0_65_v2', 'fine_tuning': False, 'labels': ['layer6.km500'], 'label_dir': None, 'label_rate': 50.0, 'sample_rate': 16000, 'normalize': False, 'enable_padding': False, 'max_keep_size': None, 'max_sample_size': 250000, 'min_sample_size': 32000, 'single_target': False, 'random_crop': True, 'pad_audio': False}

## Grouping embeddings by semantic token

In [104]:
# Yes, this is inefficient, but for n ~= 10^4 generations, it's probably not worth doing something fancier
# Revisit this if it becomes a bottleneck!
label_path = os.path.join(dataset_dir, "labels.txt")

with open(label_path, 'r') as file:
    data = []
    for line in file:
        # Split the line by whitespace and convert each item to an integer
        int_list = [int(x) for x in line.split()]
        data.append(int_list)

# Convert the list of lists to a NumPy array
token_array = np.array(data)

/tmp/ipykernel_24340/575906701.py:13: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  token_array = np.array(data)

In [105]:
def get_list_length(lst):
    return len(lst)

vfunc =  np.vectorize(get_list_length)
track_token_lengths = vfunc(token_array)
print(track_token_lengths)

[304 198 437 ...  92 157  98]

In [95]:
#from fairseq.examples.hubert.simple_kmeans.learn_kmeans import load_feature_shard

def save_shard_to_hdf5(
    f,
    feat_dir,
    split,
    rank, 
    shards,
    track_idx_start,
    tokens_by_track
):
    logger = logging.getLogger("partition_by_token")

    feat_path = f"{feat_dir}/{split}_{rank}_{NSHARDS}.npy"
    leng_path = f"{feat_dir}/{split}_{rank}_{NSHARDS}.len"

    with open(leng_path, "r") as outfile:
        # List of lengths for each track on the shard
        lengs = [int(line.rstrip()) for line in outfile]
        # Feature start indices for each track on the shard
        offsets = [0] + np.cumsum(lengs[:-1]).tolist()
    
    features = np.load(feat_path, mmap_mode="r")
    logger.info(f"Processing {len(lengs)} tracks, {len(features)} token-embed maps")

    track_idx = track_idx_start
    # For each track on the shard:
    for (i, leng) in enumerate(lengs):
        track_tokens = tokens_by_track[track_idx]
        logger.debug(f"Track {track_idx}: {len(track_tokens)} semantic, {leng} embeddings")
        # Hertz for semantic tokens and features should be same, modulo the padding token
        assert len(track_tokens) <= leng + 1

        track_embeddings = features[offsets[i]:offsets[i] + leng, :]
        logger.debug(f"{track_embeddings.shape} retrieved")
        for i, (token, emb) in enumerate(zip(track_tokens, track_embeddings)):
            # Add to hdf5 file
            if str(token) not in f:
                f.create_group(str(token))
            token_group = f[str(token)]
            emb_id = f"{track_idx}_{i}"
            token_group.create_dataset(emb_id, data=emb)

        track_idx += 1

    # If started at track 0 and processed 8 tracks, return 8
    return track_idx

In [98]:
def count_datasets(group):
    return sum(1 for _ in group.values() if isinstance(_, h5py.Dataset))

def partition_by_token(feat_dir, split, shards, tokens_by_track):
    track_idx = 0
    logger = logging.getLogger("partition_by_token")

    hdf5_file_path = os.path.join(feat_dir, "embeds_by_token.h5")
    with h5py.File(hdf5_file_path, 'a') as hdf5_file:
        for shard_idx in range(NSHARDS):
            new_idx = save_shard_to_hdf5(
                f=hdf5_file,
                feat_dir=feat_dir,
                split=split,
                rank=shard_idx,
                shards=shards,
                track_idx_start=track_idx,
                tokens_by_track=tokens_by_track
            )
            # TODO: Log this instead!
            logger.info(f"Shard {shard_idx} processed")
            track_idx = new_idx

In [106]:
logging.basicConfig(
    format="%(asctime)s | %(levelname)s | %(name)s | %(message)s",
    datefmt="%Y-%m-%d %H:%M:%S",
    #level=os.environ.get("LOGLEVEL", "INFO").upper(),
    level="DEBUG",
    stream=sys.stdout,
)

partition_by_token(
    feat_dir=feature_dir,
    split="manifest",
    shards=NSHARDS,
    tokens_by_track=token_array
)

2023-04-27 01:58:23 | INFO | partition_by_token | Processing 571 tracks, 108192 token-embed maps
2023-04-27 01:58:38 | INFO | partition_by_token | Shard 0 processed
2023-04-27 01:58:38 | INFO | partition_by_token | Processing 570 tracks, 110901 token-embed maps
2023-04-27 01:58:53 | INFO | partition_by_token | Shard 1 processed
2023-04-27 01:58:53 | INFO | partition_by_token | Processing 571 tracks, 112568 token-embed maps
2023-04-27 01:59:08 | INFO | partition_by_token | Shard 2 processed
2023-04-27 01:59:08 | INFO | partition_by_token | Processing 570 tracks, 108862 token-embed maps
2023-04-27 01:59:22 | INFO | partition_by_token | Shard 3 processed
2023-04-27 01:59:22 | INFO | partition_by_token | Processing 571 tracks, 110649 token-embed maps
2023-04-27 01:59:37 | INFO | partition_by_token | Shard 4 processed
2023-04-27 01:59:37 | INFO | partition_by_token | Processing 571 tracks, 114572 token-embed maps
2023-04-27 01:59:53 | INFO | partition_by_token | Shard 5 processed
2023-04-27 01:59:53 | INFO | partition_by_token | Processing 570 tracks, 108367 token-embed maps
2023-04-27 02:00:08 | INFO | partition_by_token | Shard 6 processed
2023-04-27 02:00:08 | INFO | partition_by_token | Processing 571 tracks, 109410 token-embed maps
2023-04-27 02:00:24 | INFO | partition_by_token | Shard 7 processed

Group '0' has 125 datasets.
Group '1' has 156 datasets.
Group '10' has 26979 datasets.
Group '100' has 3013 datasets.
Group '1000' has 51 datasets.
Group '1001' has 111 datasets.
Group '1002' has 23 datasets.
Group '1003' has 65 datasets.
Group '1005' has 78 datasets.
Group '1006' has 66 datasets.
Group '1007' has 49 datasets.
Group '1008' has 38 datasets.
Group '1009' has 113 datasets.
Group '101' has 72 datasets.
Group '1010' has 34 datasets.
Group '1011' has 66 datasets.
Group '1012' has 33 datasets.
Group '1013' has 97 datasets.
Group '1014' has 17 datasets.
Group '1015' has 53 datasets.
Group '1016' has 16 datasets.
Group '1017' has 53 datasets.
Group '1018' has 135 datasets.
Group '1019' has 10 datasets.
Group '102' has 25 datasets.
Group '1020' has 107 datasets.
Group '1021' has 107 datasets.
Group '1022' has 189 datasets.
Group '1023' has 107 datasets.
Group '1024' has 179 datasets.
Group '1025' has 1605 datasets.
Group '1026' has 94 datasets.
Group '1027' has 120 datasets.
Group '1028' has 29 datasets.
Group '1029' has 12 datasets.
Group '103' has 57 datasets.
Group '1030' has 17 datasets.
Group '1031' has 22 datasets.
Group '1032' has 170 datasets.
Group '1033' has 4 datasets.
Group '1034' has 21 datasets.
Group '1035' has 28 datasets.
Group '1036' has 34 datasets.
Group '1037' has 28 datasets.
Group '1038' has 127 datasets.
Group '1039' has 93 datasets.
Group '104' has 63 datasets.
Group '1040' has 127 datasets.
Group '1041' has 530 datasets.
Group '1042' has 5 datasets.
Group '1043' has 60 datasets.
Group '1044' has 228 datasets.
Group '1045' has 59 datasets.
Group '1046' has 27 datasets.
Group '1047' has 54 datasets.
Group '1048' has 15 datasets.
Group '1049' has 146 datasets.
Group '105' has 99 datasets.
Group '1050' has 57 datasets.
Group '1051' has 20 datasets.
Group '1052' has 24 datasets.
Group '1053' has 85 datasets.
Group '1054' has 86 datasets.
Group '1055' has 44 datasets.
Group '1056' has 26 datasets.
Group '1057' has 41 datasets.
Group '1058' has 73 datasets.
Group '1059' has 157 datasets.
Group '106' has 27 datasets.
Group '1060' has 30 datasets.
Group '1061' has 35 datasets.
Group '1062' has 4 datasets.
Group '1063' has 17 datasets.
Group '1064' has 26 datasets.
Group '1065' has 416 datasets.
Group '1066' has 52 datasets.
Group '1067' has 101 datasets.
Group '1068' has 610 datasets.
Group '1069' has 123 datasets.
Group '107' has 6739 datasets.
Group '1070' has 74 datasets.
Group '1071' has 35 datasets.
Group '1072' has 74 datasets.
Group '1073' has 29 datasets.
Group '1074' has 95 datasets.
Group '1075' has 287 datasets.
Group '1076' has 54 datasets.
Group '1077' has 25 datasets.
Group '1078' has 87 datasets.
Group '1079' has 372 datasets.
Group '108' has 68 datasets.
Group '1080' has 547 datasets.
Group '1081' has 162 datasets.
Group '1082' has 69 datasets.
Group '1083' has 142 datasets.
Group '1084' has 17 datasets.
Group '1085' has 65 datasets.
Group '1086' has 62 datasets.
Group '1087' has 148 datasets.
Group '1088' has 138 datasets.
Group '1089' has 87 datasets.
Group '109' has 136 datasets.
Group '1090' has 58 datasets.
Group '1091' has 44 datasets.
Group '1092' has 120 datasets.
Group '1093' has 302 datasets.
Group '1094' has 46 datasets.
Group '1095' has 90 datasets.
Group '1096' has 33 datasets.
Group '1097' has 94 datasets.
Group '1098' has 143 datasets.
Group '1099' has 60 datasets.
Group '11' has 98 datasets.
Group '110' has 72 datasets.
Group '1100' has 48 datasets.
Group '1101' has 71 datasets.
Group '1102' has 16 datasets.
Group '1103' has 19 datasets.
Group '1104' has 23 datasets.
Group '1105' has 28 datasets.
Group '1106' has 148 datasets.
Group '1107' has 73 datasets.
Group '1108' has 39 datasets.
Group '1109' has 12 datasets.
Group '111' has 77 datasets.
Group '1110' has 100 datasets.
Group '1111' has 236 datasets.
Group '1112' has 56 datasets.
Group '1113' has 64 datasets.
Group '1114' has 16 datasets.
Group '1115' has 83 datasets.
Group '1116' has 30 datasets.
Group '1117' has 7 datasets.
Group '1118' has 82 datasets.
Group '1119' has 68 datasets.
Group '112' has 100 datasets.
Group '1120' has 34 datasets.
Group '1121' has 8 datasets.
Group '1122' has 181 datasets.
Group '1123' has 35 datasets.
Group '1124' has 4 datasets.
Group '1125' has 67 datasets.
Group '1126' has 143 datasets.
Group '1127' has 44 datasets.
Group '1128' has 77 datasets.
Group '1129' has 5 datasets.
Group '113' has 40 datasets.
Group '1130' has 39 datasets.
Group '1131' has 59 datasets.
Group '1132' has 91 datasets.
Group '1133' has 1756 datasets.
Group '1134' has 174 datasets.
Group '1135' has 5 datasets.
Group '1136' has 141 datasets.
Group '1137' has 37 datasets.
Group '1138' has 55 datasets.
Group '1139' has 26 datasets.
Group '114' has 111 datasets.
Group '1140' has 72 datasets.
Group '1141' has 71 datasets.
Group '1142' has 42 datasets.
Group '1143' has 12 datasets.
Group '1144' has 44 datasets.
Group '1145' has 97 datasets.
Group '1146' has 184 datasets.
Group '1147' has 91 datasets.
Group '1148' has 44 datasets.
Group '1149' has 141 datasets.
Group '115' has 120 datasets.
Group '1150' has 93 datasets.
Group '1151' has 40 datasets.
Group '1152' has 363 datasets.
Group '1153' has 26 datasets.
Group '1154' has 58 datasets.
Group '1155' has 28 datasets.
Group '1156' has 115 datasets.
Group '1157' has 15 datasets.
Group '1158' has 30 datasets.
Group '1159' has 65 datasets.
Group '116' has 52 datasets.
Group '1160' has 296 datasets.
Group '1161' has 82 datasets.
Group '1162' has 45 datasets.
Group '1163' has 81 datasets.
Group '1164' has 34 datasets.
Group '1165' has 103 datasets.
Group '1166' has 120 datasets.
Group '1167' has 29 datasets.
Group '1168' has 6 datasets.
Group '1169' has 119 datasets.
Group '117' has 1159 datasets.
Group '1170' has 238 datasets.
Group '1171' has 47 datasets.
Group '1172' has 102 datasets.
Group '1173' has 36 datasets.
Group '1174' has 111 datasets.
Group '1175' has 58 datasets.
Group '1176' has 117 datasets.
Group '1177' has 148 datasets.
Group '1178' has 32 datasets.
Group '1179' has 6 datasets.
Group '118' has 1194 datasets.
Group '1180' has 24 datasets.
Group '1181' has 18 datasets.
Group '1182' has 34 datasets.
Group '1183' has 19 datasets.
Group '1184' has 275 datasets.
Group '1185' has 58 datasets.
Group '1186' has 59 datasets.
Group '1187' has 18 datasets.
Group '1188' has 63 datasets.
Group '1189' has 11 datasets.
Group '119' has 45 datasets.
Group '1190' has 157 datasets.
Group '1191' has 142 datasets.
Group '1192' has 92 datasets.
Group '1193' has 37 datasets.
Group '1194' has 21 datasets.
Group '1195' has 12 datasets.
Group '1196' has 51 datasets.
Group '1197' has 30 datasets.
Group '1198' has 19 datasets.
Group '1199' has 151 datasets.
Group '12' has 1079 datasets.
Group '120' has 310 datasets.
Group '1200' has 7 datasets.
Group '1201' has 56 datasets.
Group '1202' has 73 datasets.
Group '1203' has 6 datasets.
Group '1204' has 48 datasets.
Group '1205' has 40 datasets.
Group '1206' has 225 datasets.
Group '1207' has 78 datasets.
Group '1208' has 70 datasets.
Group '1209' has 180 datasets.
Group '121' has 403 datasets.
Group '1210' has 48 datasets.
Group '1211' has 68 datasets.
Group '1212' has 78 datasets.
Group '1213' has 206 datasets.
Group '1214' has 86 datasets.
Group '1215' has 199 datasets.
Group '1216' has 38 datasets.
Group '1217' has 21 datasets.
Group '1218' has 3 datasets.
Group '1219' has 2 datasets.
Group '122' has 1773 datasets.
Group '1220' has 13 datasets.
Group '1221' has 74 datasets.
Group '1222' has 37 datasets.
Group '1223' has 41 datasets.
Group '1224' has 42 datasets.
Group '1225' has 121 datasets.
Group '1226' has 116 datasets.
Group '1227' has 116 datasets.
Group '1228' has 110 datasets.
Group '1229' has 38 datasets.
Group '123' has 171 datasets.
Group '1230' has 68 datasets.
Group '1231' has 15 datasets.
Group '1232' has 84 datasets.
Group '1233' has 248 datasets.
Group '1234' has 32 datasets.
Group '1235' has 26 datasets.
Group '1236' has 165 datasets.
Group '1237' has 63 datasets.
Group '1238' has 5 datasets.
Group '1239' has 182 datasets.
Group '124' has 190 datasets.
Group '1240' has 67 datasets.
Group '1241' has 43 datasets.
Group '1242' has 86 datasets.
Group '1243' has 276 datasets.
Group '1244' has 160 datasets.
Group '1245' has 57 datasets.
Group '1246' has 71 datasets.
Group '1247' has 8 datasets.
Group '1248' has 2 datasets.
Group '1249' has 62 datasets.
Group '125' has 179 datasets.
Group '1250' has 84 datasets.
Group '1251' has 125 datasets.
Group '1252' has 90 datasets.
Group '1253' has 127 datasets.
Group '1254' has 63 datasets.
Group '1255' has 1 datasets.
Group '1256' has 30 datasets.
Group '1257' has 114 datasets.
Group '1258' has 50 datasets.
Group '1259' has 16 datasets.
Group '126' has 208 datasets.
Group '1260' has 40 datasets.
Group '1261' has 45 datasets.
Group '1262' has 67 datasets.
Group '1263' has 121 datasets.
Group '1264' has 52 datasets.
Group '1265' has 120 datasets.
Group '1266' has 14 datasets.
Group '1267' has 29 datasets.
Group '1268' has 65 datasets.
Group '1269' has 22 datasets.
Group '127' has 12 datasets.
Group '1270' has 65 datasets.
Group '1271' has 178 datasets.
Group '1272' has 66 datasets.
Group '1273' has 7 datasets.
Group '1274' has 3 datasets.
Group '1275' has 57 datasets.
Group '1276' has 40 datasets.
Group '1277' has 95 datasets.
Group '1278' has 273 datasets.
Group '1279' has 42 datasets.
Group '128' has 245 datasets.
Group '1280' has 23 datasets.
Group '1281' has 199 datasets.
Group '1282' has 194 datasets.
Group '1283' has 116 datasets.
Group '1284' has 20 datasets.
Group '1285' has 109 datasets.
Group '1286' has 55 datasets.
Group '1287' has 96 datasets.
Group '1288' has 13 datasets.
Group '1289' has 87 datasets.
Group '129' has 90 datasets.
Group '1290' has 31 datasets.
Group '1291' has 155 datasets.
Group '1292' has 67 datasets.
Group '1293' has 99 datasets.
Group '1294' has 25 datasets.
Group '1295' has 66 datasets.
Group '1296' has 66 datasets.
Group '1297' has 114 datasets.
Group '1298' has 39 datasets.
Group '1299' has 163 datasets.
Group '13' has 83 datasets.
Group '130' has 247 datasets.
Group '1300' has 58 datasets.
Group '1301' has 13 datasets.
Group '1302' has 321 datasets.
Group '1303' has 65 datasets.
Group '1304' has 100 datasets.
Group '1305' has 37 datasets.
Group '1306' has 114 datasets.
Group '1307' has 95 datasets.
Group '1308' has 28 datasets.
Group '1309' has 90 datasets.
Group '131' has 1970 datasets.
Group '1310' has 144 datasets.
Group '1311' has 114 datasets.
Group '1312' has 12 datasets.
Group '1313' has 65 datasets.
Group '1314' has 85 datasets.
Group '1315' has 490 datasets.
Group '1316' has 72 datasets.
Group '1317' has 19 datasets.
Group '1318' has 11 datasets.
Group '1319' has 164 datasets.
Group '132' has 291 datasets.
Group '1320' has 100 datasets.
Group '1321' has 81 datasets.
Group '1322' has 107 datasets.
Group '1323' has 31 datasets.
Group '1324' has 27 datasets.
Group '1325' has 77 datasets.
Group '1326' has 20 datasets.
Group '1327' has 85 datasets.
Group '1328' has 27 datasets.
Group '1329' has 59 datasets.
Group '133' has 104 datasets.
Group '1330' has 21 datasets.
Group '1331' has 119 datasets.
Group '1332' has 47 datasets.
Group '1333' has 145 datasets.
Group '1334' has 173 datasets.
Group '1335' has 303 datasets.
Group '1336' has 51 datasets.
Group '1338' has 73 datasets.
Group '1339' has 34 datasets.
Group '134' has 2872 datasets.
Group '1340' has 26 datasets.
Group '1341' has 15 datasets.
Group '1342' has 132 datasets.
Group '1343' has 51 datasets.
Group '1344' has 41 datasets.
Group '1345' has 24 datasets.
Group '1346' has 65 datasets.
Group '1347' has 59 datasets.
Group '1348' has 31 datasets.
Group '1349' has 52 datasets.
Group '135' has 64 datasets.
Group '1350' has 66 datasets.
Group '1352' has 13 datasets.
Group '1353' has 2 datasets.
Group '1354' has 41 datasets.
Group '1355' has 107 datasets.
Group '1356' has 137 datasets.
Group '1357' has 48 datasets.
Group '1358' has 70 datasets.
Group '1359' has 151 datasets.
Group '136' has 148 datasets.
Group '1360' has 34 datasets.
Group '1361' has 32 datasets.
Group '1362' has 52 datasets.
Group '1363' has 108 datasets.
Group '1364' has 47 datasets.
Group '1365' has 14 datasets.
Group '1366' has 50 datasets.
Group '1367' has 208 datasets.
Group '1368' has 109 datasets.
Group '1369' has 68 datasets.
Group '137' has 435 datasets.
Group '1370' has 26 datasets.
Group '1371' has 105 datasets.
Group '1372' has 189 datasets.
Group '1373' has 55 datasets.
Group '1374' has 17 datasets.
Group '1375' has 86 datasets.
Group '1376' has 84 datasets.
Group '1377' has 10 datasets.
Group '1378' has 152 datasets.
Group '1379' has 13 datasets.
Group '138' has 770 datasets.
Group '1380' has 414 datasets.
Group '1381' has 23 datasets.
Group '1382' has 147 datasets.
Group '1383' has 9 datasets.
Group '1384' has 11 datasets.
Group '1385' has 402 datasets.
Group '1386' has 101 datasets.
Group '1387' has 91 datasets.
Group '1388' has 29 datasets.
Group '1389' has 64 datasets.
Group '139' has 40 datasets.
Group '1390' has 96 datasets.
Group '1391' has 39 datasets.
Group '1392' has 71 datasets.
Group '1393' has 14 datasets.
Group '1394' has 49 datasets.
Group '1395' has 20 datasets.
Group '1396' has 54 datasets.
Group '1397' has 238 datasets.
Group '1398' has 96 datasets.
Group '1399' has 36 datasets.
Group '14' has 96 datasets.
Group '140' has 578 datasets.
Group '1400' has 70 datasets.
Group '1401' has 79 datasets.
Group '1402' has 181 datasets.
Group '1403' has 79 datasets.
Group '1404' has 10 datasets.
Group '1405' has 90 datasets.
Group '1406' has 115 datasets.
Group '1407' has 14 datasets.
Group '1408' has 180 datasets.
Group '1409' has 77 datasets.
Group '141' has 20 datasets.
Group '1410' has 8 datasets.
Group '1411' has 38 datasets.
Group '1412' has 197 datasets.
Group '1413' has 101 datasets.
Group '1414' has 107 datasets.
Group '1415' has 66 datasets.
Group '1416' has 111 datasets.
Group '1417' has 71 datasets.
Group '1418' has 36 datasets.
Group '1419' has 144 datasets.
Group '142' has 713 datasets.
Group '1420' has 21 datasets.
Group '1421' has 1 datasets.
Group '1422' has 64 datasets.
Group '1423' has 27 datasets.
Group '1424' has 239 datasets.
Group '1425' has 136 datasets.
Group '1426' has 47 datasets.
Group '1427' has 155 datasets.
Group '1428' has 41 datasets.
Group '1429' has 79 datasets.
Group '143' has 69 datasets.
Group '1430' has 106 datasets.
Group '1431' has 35 datasets.
Group '1432' has 6 datasets.
Group '1433' has 31 datasets.
Group '1434' has 12 datasets.
Group '1435' has 77 datasets.
Group '1436' has 14 datasets.
Group '1437' has 106 datasets.
Group '1438' has 28 datasets.
Group '1439' has 37 datasets.
Group '144' has 80 datasets.
Group '1440' has 48 datasets.
Group '1441' has 26 datasets.
Group '1442' has 56 datasets.
Group '1443' has 128 datasets.
Group '1444' has 572 datasets.
Group '1445' has 151 datasets.
Group '1446' has 76 datasets.
Group '1447' has 98 datasets.
Group '1448' has 9 datasets.
Group '1449' has 166 datasets.
Group '145' has 104 datasets.
Group '1450' has 91 datasets.
Group '1451' has 4 datasets.
Group '1452' has 30 datasets.
Group '1453' has 16 datasets.
Group '1454' has 14 datasets.
Group '1455' has 99 datasets.
Group '1456' has 40 datasets.
Group '1457' has 21 datasets.
Group '1458' has 166 datasets.
Group '1459' has 8 datasets.
Group '146' has 17 datasets.
Group '1460' has 36 datasets.
Group '1461' has 239 datasets.
Group '1462' has 32 datasets.
Group '1463' has 230 datasets.
Group '1464' has 19 datasets.
Group '1465' has 141 datasets.
Group '1466' has 16 datasets.
Group '1467' has 41 datasets.
Group '1468' has 128 datasets.
Group '1469' has 53 datasets.
Group '147' has 4656 datasets.
Group '1470' has 2 datasets.
Group '1471' has 158 datasets.
Group '1472' has 67 datasets.
Group '1473' has 48 datasets.
Group '1474' has 69 datasets.
Group '1475' has 105 datasets.
Group '1476' has 376 datasets.
Group '1477' has 75 datasets.
Group '1478' has 22 datasets.
Group '1479' has 39 datasets.
Group '148' has 275 datasets.
Group '1480' has 38 datasets.
Group '1481' has 10 datasets.
Group '1482' has 45 datasets.
Group '1483' has 263 datasets.
Group '1484' has 14 datasets.
Group '1485' has 45 datasets.
Group '1486' has 149 datasets.
Group '1487' has 110 datasets.
Group '1488' has 99 datasets.
Group '1489' has 121 datasets.
Group '149' has 94 datasets.
Group '1490' has 7 datasets.
Group '1491' has 56 datasets.
Group '1492' has 53 datasets.
Group '1493' has 90 datasets.
Group '1494' has 133 datasets.
Group '1495' has 87 datasets.
Group '1496' has 9 datasets.
Group '1497' has 7 datasets.
Group '1498' has 27 datasets.
Group '1499' has 140 datasets.
Group '15' has 249 datasets.
Group '150' has 109 datasets.
Group '1500' has 59 datasets.
Group '1501' has 48 datasets.
Group '1502' has 17 datasets.
Group '1503' has 25 datasets.
Group '1504' has 53 datasets.
Group '1505' has 28 datasets.
Group '1506' has 105 datasets.
Group '1507' has 48 datasets.
Group '1508' has 26 datasets.
Group '1509' has 9 datasets.
Group '1510' has 52 datasets.
Group '1511' has 60 datasets.
Group '1512' has 37 datasets.
Group '1513' has 252 datasets.
Group '1514' has 56 datasets.
Group '1515' has 17 datasets.
Group '1516' has 120 datasets.
Group '1517' has 74 datasets.
Group '1518' has 57 datasets.
Group '1519' has 54 datasets.
Group '152' has 740 datasets.
Group '1520' has 140 datasets.
Group '1521' has 20 datasets.
Group '1522' has 10 datasets.
Group '1523' has 21 datasets.
Group '1524' has 24 datasets.
Group '1525' has 6 datasets.
Group '1526' has 37 datasets.
Group '1527' has 59 datasets.
Group '1528' has 28 datasets.
Group '1529' has 32 datasets.
Group '153' has 96 datasets.
Group '1530' has 245 datasets.
Group '1531' has 83 datasets.
Group '1532' has 242 datasets.
Group '1533' has 210 datasets.
Group '1534' has 32 datasets.
Group '1535' has 9 datasets.
Group '1536' has 95 datasets.
Group '1537' has 42 datasets.
Group '1538' has 132 datasets.
Group '1539' has 81 datasets.
Group '154' has 26 datasets.
Group '1540' has 97 datasets.
Group '1541' has 91 datasets.
Group '1542' has 39 datasets.
Group '1543' has 5 datasets.
Group '1544' has 134 datasets.
Group '1545' has 84 datasets.
Group '1546' has 47 datasets.
Group '1547' has 34 datasets.
Group '1548' has 13 datasets.
Group '1549' has 60 datasets.
Group '155' has 104 datasets.
Group '1550' has 24 datasets.
Group '1551' has 37 datasets.
Group '1552' has 156 datasets.
Group '1553' has 62 datasets.
Group '1554' has 90 datasets.
Group '1555' has 12 datasets.
Group '1556' has 1039 datasets.
Group '1557' has 74 datasets.
Group '1558' has 46 datasets.
Group '1559' has 106 datasets.
Group '156' has 33 datasets.
Group '1560' has 34 datasets.
Group '1561' has 135 datasets.
Group '1562' has 77 datasets.
Group '1563' has 76 datasets.
Group '1564' has 49 datasets.
Group '1565' has 20 datasets.
Group '1566' has 81 datasets.
Group '1567' has 73 datasets.
Group '1568' has 182 datasets.
Group '1569' has 91 datasets.
Group '157' has 751 datasets.
Group '1570' has 33 datasets.
Group '1571' has 188 datasets.
Group '1572' has 90 datasets.
Group '1573' has 325 datasets.
Group '1574' has 121 datasets.
Group '1575' has 167 datasets.
Group '1576' has 44 datasets.
Group '1577' has 37 datasets.
Group '1578' has 2 datasets.
Group '1579' has 8 datasets.
Group '158' has 44 datasets.
Group '1580' has 3 datasets.
Group '1581' has 27 datasets.
Group '1582' has 2 datasets.
Group '1583' has 108 datasets.
Group '1584' has 85 datasets.
Group '1585' has 146 datasets.
Group '1587' has 8 datasets.
Group '1588' has 47 datasets.
Group '1589' has 187 datasets.
Group '159' has 71 datasets.
Group '1590' has 666 datasets.
Group '1591' has 124 datasets.
Group '1592' has 12 datasets.
Group '1593' has 124 datasets.
Group '1594' has 19 datasets.
Group '1595' has 168 datasets.
Group '1596' has 37 datasets.
Group '1597' has 6 datasets.
Group '1598' has 29 datasets.
Group '1599' has 105 datasets.

In [110]:
input_filename = '../datasets/en_features/embeds_by_token.h5'
output_filename = '../datasets/en_features/mean_embeds_by_token.h5'

with h5py.File(input_filename, 'r') as input_file, h5py.File(output_filename, 'w') as output_file:
    for token, token_group in input_file.items():
        # Compute the mean of all datasets within the group
        mean_embedding = np.mean([token_group[emb_id][...] for emb_id in token_group], axis=0)

        # Create a new group in the output file with the same token name
        output_token_group = output_file.create_group(token)

        # Create a new dataset in the output group with the mean embedding
        output_token_group.create_dataset('mean_embedding', data=mean_embedding)

## SKlearn (misery time!)

We use k-nearest neighbors.

In [111]:
from sklearn.neighbors import NearestNeighbors

with h5py.File(output_filename, 'r') as input_file:
    centroids = [input_file[token]['mean_embedding'][...] for token in input_file]
    centroids = np.stack(centroids, axis=0)

# Fit the NearestNeighbors model with the centroids
nn = NearestNeighbors(n_neighbors=1, algorithm='auto')
nn.fit(centroids)

NearestNeighbors(n_neighbors=1)